<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      Please fix the <%= pluralize(object.errors.count, "error") %> below and try again.
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>