<%= form_for(@status) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Update your status...", maxlength: 140 %>
    <span id="lblInputLeft"></span>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>